{% extends 'baseUser.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 m-auto example-wrapper text-center pt-5">
                <h1 class="text-white">Bienvenue sur ton Espace {{ app.user.name }}</h1>
            </div>
        </div>
    </div>

{% endblock %}
