
/****************
**** GENERAL ****
****************/

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
} 
html {
    position: relative;
    min-height: 100%;
}

.mainFoot{
    flex: 1;
}

/****************
**** HEADER *****
****************/

/* header{
    height: 35px;
}  */

 #mainNav button{
    border: 1px solid white;
}

/****************
***** HOME ******
****************/

#baseHome{
    background-image: url('../img/background-3883181_1920.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} 

#home h1{
    color: #ffff;
}

.text-home{
    padding-top: 100px;
}

#home img{
    width: 50%;
}


/****************
*** LINK PAGE ***
****************/

#link{
    background-color: #000;
}

.titleLink{
    padding-top: 58px;
}

/* .linkGame{
    background-color: #79a7D3;
}

.linkVideo{
    background-color: #6883BC;
} */

/* .backgroundTitle{
    background-image: url('../img/11632.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */

.backgroundTitle h1{
    color: #FA4703;
}

.heightBlock{
    height: 430px;
}

.liseret{
    border-bottom: 1px solid white;
    padding-top: 25px;
    width: 90%;
    margin: auto;
}

.buttonLink{
    background-color: #FA4703;
    border: 1px solid #FA4703;
}

/****************
*** USER SPACE **
****************/

#baseUser{
    background-image: url('../img/4912487.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.w3-theme-d3 {
    color:#000 !important;background-color: #FA4703 !important
}

.buttonProfil{
    background-color: #FA4703;
    border-color: #fff 1px;
}

/****************
***** ADMIN *****
****************/

#baseAdmin{
    background-image: url('../img/5073414.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
}

.w3-theme-d2 {
    color:#fff !important;background-color: #4687c3 !important
}

/****************
**** FOOTER *****
****************/