{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center py-5">Liste des membres</h1>
            </div>
            <div class="row">
                <div class="col-12 offset-1">
                
                
                <div class="row">


                <div class="col-2">
                    <p>Prénom</p>
                </div>
                <div class="col-6">
                    <p>Email</p>
                </div>
                <div class="col-4">
                    <p>Rôle</p>
                </div> 


                </div>
                </div>
            </div>
            {% for user in users %}
                <div class="row">

                <div class="col-12">
                
                
                <div class="row">
                   
                    <div class="col-2">
                        <p>{{ user.name }}</p>
                        <hr>
                     </div>
                    <div class="col-5">
                        <p>{{ user.email }}</p>
                        <hr>
                    </div>
                    <div class="col-3">
                        <p>{{ user.roles|join(' +' )|lower }}</p>
                        <hr>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('admin_user_update', {'id':user.id}) }}"><button>Modifier</button></a>
                    </div>

                     </div>
                </div>
                   
                </div>      
            {% endfor %}
        </div>
    </div>
{% endblock %}
